<mat-list>
  <mat-list-item *ngFor="let contact of contacts" (click)="onContactSelect(contact)">
      <avatar matListIcon class="cw-contact-list-item-avatar"
              [name]="contact.firstName"
              [displayType]="'circle'"
              [background]="" ]
              [size]="35">
      </avatar>
      <h4 matLine>{{contact.firstName+ ' ' + contact.lastName}}</h4>
      <p matLine> {{contact.phone}} </p>
  </mat-list-item>
</mat-list>

<button mat-fab (click)="onCreateNew()" color="accent" class="cw-fab">
  <mat-icon>add</mat-icon>
</button>
